@import "config";
@import "normalize";
@import "main";

html {
	box-sizing: border-box;
	background: url("../media/images/background-light.jpg") repeat;
	font-size: 62.5%;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: palette(mono, text);
	font: rem(16)/1.33 $body-text;
	height: 100%;
	margin: 0 auto;
	max-width: rem(1050);
	overflow-x: hidden;
	overflow-y: visible !important;
	width: 90%;
}

a {
	text-decoration: underline;
	&:link, &:visited {
		color: #900;
	}
	&:active, &:focus, &:hover {
		color: #F00;
	}
}

abbr span {
	@include visuallyhidden;
}

em {
	font-family: 'Droid Serif', serif;
}

.no-list {
	list-style-type: none;
	margin:  0;
	padding: 0;
}

li:not(fieldset li) + li {
	margin-top: rem(5);
}

.columns {
	column-count: 2;
	column-gap: 1rem;

	&.three-columns {
		column-count: 3;
	}

	&.four_columns {
		column-count: 4;
	}
}

ul, ol {
	&.oxford {
		@include oxford;
	}
}

@import "sections/header";
@import "sections/mainmenu";
@import "sections/main";
@import "sections/footer";
@import "tags/table";
@import "tags/form";
@import "tags/lists";
@import "other/deleter";
@import "other/sweet-alert";
@import "atoms";
