		</main>
	
		<footer role="contentinfo">
			<p><a href="http://www.topps.com/">The Topps Company, Inc.</a> has sole ownership of the names, logo, artwork,
			marks, photographs, sounds, audio, video and/or any proprietary material used in connection with the game
			<a href="http://www.shadowrun.com/">Shadowrun</a>. <a href="http://www.topps.com/">The Topps Company, Inc.</a>
			has granted permission to <em>The ShadowLab by Dashifen</em> to use such names, logos, artwork, marks and/or
			any proprietary materials for promotional and informational purposes on its website but does not endorse, and is
			not affiliated with <em>The ShadowLab by Dashifen</em> in any official capacity whatsoever.</p>
	
			<p>Content not owned by <a href="http://www.topps.com/">The Topps Company, Inc.</a> and all
			programming is copyright <i class="fa fa-fw fa-copyright" aria-hidden="true" title="copyright"></i>
			2013 - $year <a href="http://dashifen.com">David Dashifen Kees</a>.</p>
		</footer>
	</div> <!-- #shadowlab -->
		
	<script>var vueData = $vueData</script>
	<script src="/assets/scripts/tinymce/tinymce.min.js"></script>
	<script src="/assets/scripts/shadowlab.bundled.min.js"></script>
</body>
</html>
