table {
	border: 1px solid palette(mono, black);
	border-bottom-style: none;
	border-collapse: collapse;
	width: 100%;

	caption {
		padding-bottom: rem(12);
		text-align: left;
	}

	tr {
		border-bottom: 1px solid palette(mono, black);
	}

	td, th {
		padding: rem(5);
		text-align: left;
		vertical-align: top;

		&.nowrap {
			white-space: nowrap;
		}
	}

	thead th {
		background-color: #333;
		color: #fff;
		text-align: left;
		vertical-align: bottom;
	}

	th {
		font-weight: bold;
	}

	tbody {
		&.searchable-row-hidden {
			display: none;
		}

		tr:hover {
			background-color: palette(yellow);
		}
	}

	&.summarized {
		tbody:not(.clicked) .description {
			display: none;
		}

		.description {
			p:empty {
				margin: 0;
			}

			section {
				display: flex;

				div {
					flex: 1;
				}

				p.controls {
					display: flex;
					flex-direction: column;
					margin: 0;
				}
			}
		}
	}

	&.stat-block {
		thead th {
			width: 9.09090909%;
		}

		thead th,
		tbody tr:first-child td {
			text-align: center;
		}
	}
}
