<p>The information you entered on the previous screen about the
<em>{{ item }}</em> {{ singular }} has been saved in the database.
Use the menu above to visit any of the other cheat sheets in the
Shadowlab or the links below to continue using this site.</p>

<ul>
	<li><a :href="thisId | makeUpdateLink">Edit {{ item }} again</a></li>
	<li><a :href="nextId | makeUpdateLink">Edit the next {{ singular }}</a></li>
	<li><a :href="plural | makeCollectionLink">Back to the list of {{ plural }}</a></li>
</ul>

